{% extends "base.html" %}
{% block title %}New Post Form{% endblock %}
{% block content %}
    <h1>Add Post for {{user.first_name}} {{user.last_name}}</h1>
    <form>
        <label>Title</label>
        <input type="text" name="title"><br>
        <label>Content</label>
        <input type="text" name="content"><br>
        {% for tag in tags %}
            <input type="checkbox" name="tags_list" value= "{{tag.tag_id}}">{{tag.name}}<br>
        {% endfor %}
        <button formaction="/users/{{user.user_id}}" formmethod="GET">Cancel</button>
        <button formaction="/users/{{user.user_id}}/posts/new" formmethod="POST">Add</button>
    </form>
{% endblock %}