{% extends "base.html" %}
{% block title %}Post Details{% endblock %}
{% block content %}
    <h2>{{post.title}}</h2>
    <p>{{post.content}}</p>
    <cite>By {{user.first_name}} {{user.last_name}}</cite>
    <form >
        <button formaction="/users/{{user.user_id}}" formmethod="GET">Cancel</button>
        <button formaction="/posts/{{post.post_id}}/edit" formmethod="GET">Edit</button></a>
        <button formaction="/posts/{{post.post_id}}/delete" formmethod="POST">Delete</button>
    </form>
{% endblock %}
